.App {
  text-align: center;
}

.form {
  width: 400px;
  margin: auto;
}

@media (max-width: 600px) {
  .form {
    width: 400px;
    margin: auto;
  }
}

.profile {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



